@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Roboto+Mono:wght@300&display=swap');
:root {
    --background-color: white;
    --text-color: #24252A;
    --menu-underline-color: #bc60fb;
    --star-color: gold;
  }
/* global settings */
* {
    box-sizing: border-box;
    color: var(--text-color, black);
    scroll-margin-top: 2em; 
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color, gray);
    margin: 0;
}
a,p,i,figcaption,b, label, input, button{
    font-family: 'Roboto Mono', 'Arial', monospace;
}
h1,h2,h3,h4, details, output{
    font-family: 'Helvetica', 'Arial', monospace;
}

#intro_block {
    align-items: center;
}